[submodule "auto_LiRPA"]
	path = auto_LiRPA
	url = https://github.com/Verified-Intelligence/auto_LiRPA.git
[submodule "npinterval"]
	path = npinterval
	url = https://github.com/gtfactslab/npinterval.git
